<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    /*.wrap{*/
      /*background:#ccc;*/
      /*!*display:inline;*!*/
      /*text-align:center;*/
    /*}*/

    .wrap{
      float: left;
      position:relative;
      left:50%;
      background-color: red;
    }
    .wrap-center{
      border-style: solid;
      position:relative;
      left:-50%;

    }
  </style>
</head>
<body>

<!--<div class="wrap">-->
  <!--设置我所在的div容器水平居中-->
<!--</div>-->

<div class="wrap">
  <div class="wrap-center">我们来学习一下这种方法。</div>
</div>
</body>
</html>