* {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    /*去除超链接的下划线*/
    text-decoration: none;
}

ul {
    /*去除列表前面默认的点*/
    list-style: none;
}

header {
    height: 80px;
    background: black;
}

header > .container {
    width: 1200px;
    margin: 0 auto;
}

header > .container > a {
    display: block;
    float: left;
    margin: 5px 25px;
}

header > .container > nav {
    float: right;
}

header > .container > nav > a {
    font-size: 24px;
    line-height: 73px;
    display: block;
    float: left;
    width: 110px;
    height: 73px;
    text-align: center;
}

